apiVersion: v1
kind: Service
metadata:
  name: threat-api-svc
spec:
  type: NodePort
  selector:
    app: threat-api
    tier: backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
    nodePort: 30080